<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @uid %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :lifecycle_type %>
    <!--<%= select("@project", "lifecycle_type", {:Waterfall => true, :RapidApplicationDevelopment => true, :Agile => true}) %>-->
    <%= collection_select(:project, :lifecycle_id, Lifecycle.all, :id, :name) %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
