<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <% if yield(:title) == "deliverable index" or
                        yield(:title) == "deliverable edit" or
                        yield(:title) == "deliverable show" %>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/">Home</a>
                            <li style="width: 200px">
                                <a href="/projects" style="padding-left: 20px">Project Management</a></li>
                            <li style="width: 80px">
                                <a href="/projects/<%= @project_id %>" style="padding-left: 20px">Project</a></li>
                            <li class="active" style="width: 200px">
                              <% if yield(:title) == "deliverable index" %>
                                <a style="padding-left: 20px">List Deliverables</a></li>
                              <% elsif yield(:title) == "deliverable edit" %>
                                <a style="padding-left: 20px">Edit Deliverable</a></li>
                              <% elsif yield(:title) == "deliverable show" %>
                                  <a style="padding-left: 20px">Show Deliverable</a></li>
                              <% else %>
                                <a style="padding-left: 20px">New Deliverable</a></li>
                              <% end %>
                        </ul>
                    </div>
                <% elsif yield(:title) == "project index" %>
                    <div class="nav-collapse collapse">
                      <ul class="nav">
                        <li style="width: 80px">
                          <a href="../" style="padding-left: 20px">Home</a></li>
                        <li style="width: 180px" class="active">
                          <a style="padding-left: 20px">Project Management</a></li>
                      </ul>
                    </div>
                <% elsif yield(:title) == "project show" %>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li style="width: 80px">
                        <a href="../" style="padding-left: 20px">Home</a></li>
                      <li style="width: 200px">
                        <a href="../projects" style="padding-left: 20px">Project Management</a></li>
                      <li style="width: 150px" class="active">
                        <a style="padding-left: 20px">Current Project</a></li>
                    </ul>
                  </div>
                <% elsif yield(:title) == "project_phase show" %>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li style="width: 80px">
                        <a href="/" style="padding-left: 20px">Home</a></li>
                      <li style="width: 200px">
                        <a href="/projects" style="padding-left: 20px">Project Management</a></li>
                      <li style="width: 100px">
                        <a href="/projects/<%= @project.id %>"  style="padding-left: 20px">Project</a></li>
                      <li style="width: 150px" class="active">
                        <a style="padding-left: 20px">Current Phase</a></li>
                    </ul>
                  </div>
                <% elsif yield(:title) == "deliverable new" %>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li style="width: 80px">
                        <a href="/" style="padding-left: 20px">Home</a></li>
                      <li style="width: 200px">
                        <a href="/projects" style="padding-left: 20px">Project Management</a></li>
                      <li style="width: 100px">
                        <a href="/projects/<%= @project.id %>"  style="padding-left: 20px">Project</a></li>
                      <li style="width: 150px" class="active">
                        <a style="padding-left: 20px">New Deliverable</a></li>
                    </ul>
                  </div>
                <% else %>
                    <ul class="nav pull-left">
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "Help", help_path %></li>
                    </ul>
                <% end %>
                <%= render 'layouts/sign_in' %>
            </div>
        </div>
    </div>
</header>
</br>
</br>
</br>